body {
    font-family: 'Roboto', sans-serif;
}

.scrollable-content {
    margin-bottom: 30px;
}

h3 {
    font-family: "Raleway",sans-serif;
}


.nav {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #464045;
}

.nav > li {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-default .navbar-nav li a {
    color: #464045;
}



.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0; 
}

.navbar-default {

    background-image: none;
    background-color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.4);

}

.navbar-brand {
    
}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;
}

.navbar-collapse {
    padding-top: 8px;
}


.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    color: #999;
}

.navbar-nav > li > a::before {
    content: "[";
    margin-left: 10px;
    transform: translateX(20px);
}

.navbar-nav > li > a::after {
    content: "]";
    margin-right: 10px;
    transform: translateX(-20px);
}

.navbar-nav > li > a::before , .navbar-nav > li > a::after {
 
    transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav > li > a:hover::before, .navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::before, .navbar-nav > li > a:focus::after {
    transform: translateX(0px);
    opacity: 1;
    
}

.navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    
}

.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

#about-me p {
    font-family: "Raleway",sans-serif;
    font-size: 24px;
}

.headers {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #464045;
}

.after-header {
    content: "/";
    color: #EE6610;
    font-weight: bold;
}


.container {
     background-color: transparent !important;
 }

.profile {
    background-color: #F2F4F4;
}

.resume {
    background-color: #F2F4F4;
}

.portfolio {
    background-color: #F2F4F4;
}

    
img {
    width: 100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.nav-justified {
    margin-top: 20px;
    margin-bottom:20px;
}

.nav-justified > li > a {
    text-align: center;
    color: #EE6610;;
    border: solid 1px #EE6610;
    width: 80%;
    min-width: 232px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-justified > li > a:hover {
    border: solid 1px #3C948B;
}

.nav-pills > li.active > a:hover , .nav-pills > li.active > a {
    color: #fefefe;
    background-color: #3C948B !important;
    border: solid 1px #3C948B;
}

.nav > li > a:hover {
    text-decoration: none;
background-color: #3C948B;
color: #fefefe;
}

.nav-pills>li+li {
    margin-left: 20px;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top: 1px solid #8a979b; 
}

.progressbar-percent {
    float: right;
    font-size: 28px;
    font-family: "Raleway",sans-serif;
}

.progressbar {
    background: #D2D2D2;
    display: block;
    height: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    position: relative;
}

.progressbar-head {
    font-size: 20px;
    font-family: "Raleway",sans-serif;
}

.brand-icons {
    min-width: 20px;
    max-width: 50px;
    margin-top: 5px;
    float: right;
}
.row-icons {
    margin-top: 50px;
}

.skills-header {
    text-align: center;
}

.skills {
    margin-top: 10px;
    margin-bottom: 10px;
}

.progressbar-wp {
    background: #7C3B39 none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}

.progressbar-html {
    background: #EE6610 none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}

.progressbar-css {
    background: #296275 none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}

.progressbar-bs {
    background: #43AA4E none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}














<!---------------------- PORTFOLIO ----------------------->
.portfolio {
    background-color: #fff;
}

.portfolio-content {
    background-color: #EE6610;
}

.seniodi-content {
    background-color: #EE6610;
}

.transport-content{
    background-color: #EE6610;
}

.prawko-content{
    background-color: #EE6610;
}

.under {
    display: block;
    text-align: center;
    color: #fafafa;
}

<!---------------------- FOOTER ----------------------->

.h4, h4 {
    text-align: center;
    color: #fefefe;
    margin: 30px;
}

footer {
    background-image: url(../img/gplaypattern.jpg);

}

.footer-content {
    padding-bottom: 30px;
}

#git-icon {
    position: relative;
    width: 100%;
    color: #fafafa;
    display: inline;
    padding-top: 0px;
}

#mail-icon {
    position: relative;
    width: 100%;
    color: #fafafa;
    padding-top: 0px;
}

#phone-icon {
    position: relative;
    width: 100%;
    color: #fafafa;
    padding-top: 0px;
}

#marker-icon {
    position: relative;
    width: 100%;
    color: #fafafa;
    padding-top: 0px;
}

.footer-links {
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fafafa;
}

.footer-links a {
    color: #fafafa;
}

#download {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#cv-button {
    background-color: #fafafa;
    background-image: none;
    border: none;
    padding: 20px;
    min-width: 200px;
    font-weight: 700;
    color: #ee6010;
}

#cv-button:hover {
    background-color: #ee6010;
    color: #fafafa;
    text-shadow: none;
    
}

.footer-header a:hover {
    color: #181617;
    text-decoration: none;
}

.footer-header a {
    color: #ee6010;
    
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}