h3 {
    font-family: "Raleway",sans-serif;
}


.nav {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.nav > li {
    margin-left: 20px;
    margin-right: 20px;
}



.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0; 
}

.navbar-default {

    background-image: none;
    background-color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.4);

}

.navbar-brand {
    
}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;
}

.navbar-collapse {
    padding-top: 8px;
}


.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    color: #999;
}

.navbar-nav > li > a::before {
    content: "[";
    margin-left: 10px;
    transform: translateX(20px);
}

.navbar-nav > li > a::after {
    content: "]";
    margin-right: 10px;
    transform: translateX(-20px);
}

.navbar-nav > li > a::before , .navbar-nav > li > a::after {
 
    transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav > li > a:hover::before, .navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::before, .navbar-nav > li > a:focus::after {
    transform: translateX(0px);
    opacity: 1;
    color: #EE6610;
}

.navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #EE6610;
}

.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}


body {
    background-color: transparent !important;
}

.container {
     background-color: transparent !important;
 }

.profile {
    background-color: #fafafa;
}

.resume {
    background-color: #fafafa;
}

    
img {
    width: 100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.nav-justified {
    margin-top: 20px;
    margin-bottom:20px;
}

.nav-justified > li > a {
    text-align: center;
    color: #EE6610;
    border: solid 1px #EE6610;
    width: 80%;
    min-width: 232px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills > li.active > a:hover , .nav-pills > li.active > a {
    color: #fefefe;
    background-color: #EE6610 !important;
}

.nav > li > a:hover {
    text-decoration: none;
background-color: #EE6610;
color: #fefefe;
}

.nav-pills>li+li {
    margin-left: 20px;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #fafafa;
}

.progressbar-percent {
    float: right;
    font-size: 28px;
    font-family: "Raleway",sans-serif;
}

.progressbar {
    background: #D2D2D2;
    display: block;
    height: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.brand-icons {
    width: 10%;
    float: left;
}
.row-icons {
    margin-top: 50px;
}

