h3 {
    font-family: "Raleway",sans-serif;
}


.nav {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #464045;
}

.nav > li {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-default .navbar-nav li a {
    color: #464045;
}



.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0; 
}

.navbar-default {

    background-image: none;
    background-color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.4);

}

.navbar-brand {
    
}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;
}

.navbar-collapse {
    padding-top: 8px;
}


.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    color: #999;
}

.navbar-nav > li > a::before {
    content: "[";
    margin-left: 10px;
    transform: translateX(20px);
}

.navbar-nav > li > a::after {
    content: "]";
    margin-right: 10px;
    transform: translateX(-20px);
}

.navbar-nav > li > a::before , .navbar-nav > li > a::after {
 
    transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav > li > a:hover::before, .navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::before, .navbar-nav > li > a:focus::after {
    transform: translateX(0px);
    opacity: 1;
    
}

.navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    
}

.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

#about-me p {
    font-family: "Raleway",sans-serif;
    font-size: 24px;
}

.headers {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #464045;
}

.after-header {
    content: "/";
    color: #EE6610;
    font-weight: bold;
}


.container {
     background-color: transparent !important;
 }

.profile {
    background-color: #ffffff;
}

.resume {
    background-color: #ffffff;
}

    
img {
    width: 100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.nav-justified {
    margin-top: 20px;
    margin-bottom:20px;
}

.nav-justified > li > a {
    text-align: center;
    color: #EE6610;
    border: solid 1px #EE6610;
    width: 80%;
    min-width: 232px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills > li.active > a:hover , .nav-pills > li.active > a {
    color: #fefefe;
    background-color: #EE6610 !important;
}

.nav > li > a:hover {
    text-decoration: none;
background-color: #EE6610;
color: #fefefe;
}

.nav-pills>li+li {
    margin-left: 20px;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.progressbar-percent {
    float: right;
    font-size: 28px;
    font-family: "Raleway",sans-serif;
}

.progressbar {
    background: #D2D2D2;
    display: block;
    height: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    position: relative;
}

.progressbar-head {
    font-size: 20px;
    font-family: "Raleway",sans-serif;
}

.brand-icons {
    min-width: 20px;
    max-width: 50px;
    margin-top: 5px;
    float: right;
}
.row-icons {
    margin-top: 50px;
}

.skills-header {
    text-align: center;
}

.skills {
    margin-top: 10px;
    margin-bottom: 10px;
}

.progressbar-wp {
    background: #7C3B39 none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}

.progressbar-html {
    background: #EE6610 none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}

.progressbar-css {
    background: #296275 none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}

.progressbar-bs {
    background: #43AA4E none repeat scroll 0% 0%;
    position: absolute;
    height: 14px;
}














<!---------------------- PORTFOLIO ----------------------->
.portfolio {
    background-color: #fff;
}

.portfolio-content {
    background-color: #EE6610;
}

.portfolio-window {
    margin: 25px;
    box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.2);
}

.browser-dots {
    margin: 6px 0px 0px 4px;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    float: left;
    border: 1px solid #222222;
    background-color: #222222;
}

.browser {
border-top-right-radius: 5px;
border-top-left-radius: 5px;
height: 15px;
border-bottom: 1px solid #E3E3E3;
background: #C1C1C1 none repeat scroll 0% 0%;
}


.scrollable-content {
   max-width: 1000px; 
  max-height: 500px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
<!---------------------- // PORTFOLIO ----------------------->