body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}




p {
    text-align: justify;
    font-size: 20px;
    color: #312c2c;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    color: #242424;
    font-family: Whitney;
    font-size: 21px;
    letter-spacing: 1px;
    
}

.header {
    height: 100px;
    background-color: #EE6610;
}


.logo {
    text-transform: uppercase;
    color: #EE6610;
    font-family: "Lato",sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    padding: 0px;
}

.under-logo {
    font-family: 'Lato', sans-serif;
    color: #615b5d;
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
    
}



.words {
    font-family: 'Montserrat', sans-serif;
}


.header h1 {
    display: inline;
    line-height: 0px;
}

.header h1 a {
    text-decoration: none;
    color:#404040;
}






<!---------------------- MAIN CONTENT -----------------------> 

<!---------------------- PROFILE -----------------------> 


.profile-header {
    text-transform: uppercase;
    font-size: 20px;
}

.content {
    margin-bottom: 60px;
    margin-top: 30px;
    border-bottom: 3px solid #EE6610;
    padding-bottom: 15px; 
}

#content-id {
    margin-top: 10px;
}

.text_area {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.first-circle {
    border-radius: 150px;
    width: 260px;
    height: 260px;
    position: relative;
    border: 2px solid #bfbfbf;
    background: url("img/first-circle.jpg") no-repeat; 
    margin-left: auto;
    margin-right: auto;
}

.second-circle {
    border-radius: 150px;
    width: 260px;
    height: 260px;
    position: relative;
    border: 2px solid #bfbfbf;
    background: url("img/second-circle.jpg") no-repeat; 
    margin-left: auto;
    margin-right: auto;
}

.third-circle {
    border-radius: 150px;
    width: 260px;
    height: 260px;
    position: relative;
    border: 2px solid #bfbfbf;
    background: url("img/third-circle.jpg") no-repeat; 
    margin-left: auto;
    margin-right: auto;
}

.circle-title {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 130px;
    color: #fafafa;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 1px 1px 1px #161414;
    
}

.circle-hide {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 130px;
    color: #fafafa;
    font-weight: 600;
    font-size: 26px;
    text-shadow: 1px 1px 1px #161414;
    
}

.fa {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    color: #fafafa;
}

<!---------------------- RESUME -----------------------> 

.progressbar-percent {
    float: right;
}



.resume-text {
    background-color: #ee6010;
}
.resume-paragraph {
    padding: 30px;
    color: #fafafa;
}

.resume-head {
    padding: 30px 0px 0px 30px;
    color: #fafafa;
}

<!---------------------- PORTFOLIO ----------------------->



.portfolio-head {
    border-top: 1px solid #EE6610;
}


.portfolio-window {
    margin: 25px;
    box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.2);
    
}

.browser-image {
    position: relative;
    top: 0; 
    left: 0;
}

.browser-image:hover {
    cursor: pointer;
}


.browser-dots {
    margin: 6px 0px 0px 4px;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    float: left;
    border: 1px solid #F0F0F0;
    background-color: #fefefe;
}

.browser {
border-top-right-radius: 5px;
border-top-left-radius: 5px;
height: 15px;
border-bottom: 1px solid #E3E3E3;
background: #C1C1C1 none repeat scroll 0% 0%;
}

.browser-hover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width:100%;
    height:100%;
    top: 0; 
    left: 0;
}

<!---------------------- Footer ----------------------->

